@if $toc {
  /* - Text center______________Text align center helper classes */
} @else {
  /* Text align center (utility)
   ========================================================================== */

  .u-txt-center {
    display: block;
    text-align: center;
  }

  // Until 720px (lower than or equal to 719px)
  @media screen and (max-width: 44.9375rem) {
    .u-txt-center\@s {
      display: block;
      text-align: center;
    }
  }
}
