@if $toc {
  /* - Wrapper__________________Wrapper and page constraint */
} @else {
  /* Wrapper (object)
    ========================================================================== */

  /**
  * Page-level constraining and wrapping elements.
  * @note We assume that the default font-size is 16px
  */

  .o-wrapper {
    padding-right: rem(30); // 30px
    padding-left: rem(30); // 30px

    // From 992px (equal to or higher than 992px)
    @media screen and (min-width: 62rem) {
      margin-right: auto;
      margin-left: auto;
      padding-right: 0;
      padding-left: 0;
      max-width: rem(930); // 930px
    }
  }
}
