@if $toc {
  /* - Footer___________________Footer styles*/
} @else {
  /* Footer (component)
    ========================================================================== */

  /**
  * @note We assume that the default font-size is 16px
  */

  .c-footer {
    position: relative;
    padding: em(72, 14) 0 em(48, 14); // 72px 48px
    font-size: rem(14); // 14px
    line-height: (24/14); // 24px
    color: #ffffff;
    background-color: #1f2a32;
    background-color: var(--footer-bgc);
  }

  /**
  * Avoid unwanted horizontal scrollbar on Edge and IE11
  * @see [Parent container size calculated incorrectly if child element uses position: absolute in combination with transform: translate](https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/107210/)
  */
  ._c-footer {
    overflow-x: hidden;
  }

  .c-footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    height: rem(10); // 10px
    width: 100%;
    transform: translateX(-50%);
    background-image: linear-gradient(
      to right, #ae0f8d 25%,
      #0c8fcc 25%, #0c8fcc 50%,
      #e51c5e 50%, #e51c5e 75%,
      #ffae00 75%, #ffae00 100%
    );
    background-image: var(--footer__before-bgi);

    // From 992px (992px or higher)
    @media screen and (min-width: 62rem) {
      width: rem(930); // 930px
    }
  }

  .c-footer__list {
    margin-bottom: em(48, 14); // 48px
    list-style: none;
    margin-left: 0;
  }

  .c-footer__list-item {
    margin-bottom: em(24, 14); // 24px;
  }

  .c-footer__list-icon {
    width: em(24, 14); // 24px
    height: em(21, 14); // 21px
    color: #02baab;
    color: var(--footer__list-icon-txt);
  }

  .c-footer__link {
    display: block;
  }

  .c-footer__link,
  .c-footer__link:visited {
    color: #02baab;
    color: var(--footer__link-txt);
  }

  .c-footer__link:hover,
  .c-footer__link:focus {
    color: #ffae00;
    color: var(--footer__link-focus-hover-txt);
  }

  .c-footer__date {
    display: block;
    color: #85939f;
    color: var(--footer__date-txt);
  }

  .c-footer__copyright {
    line-height: (46/14); // 46px;
  }
}
