@if $toc {
  /* - Section__________________Sections styles */
} @else {
  /* Section (component)
    ========================================================================== */

  /**
  * @note We assume that the default font-size is 16px
  */

  .c-section {
    // Until 720px (lower than or equal to 719px)
    @media screen and (max-width: 44.9375rem) {
      padding: rem(64) 0; // 64px 0
    }
    // From 720px (equal to or higher than 720px)
    @media screen and (min-width: 45rem) {
      padding: rem(102) 0; // 102px 0
    }
  }

  .c-section--presentation {
    text-align: center;
  }

  .c-section--dark {
    color: #ffffff;
    background-color: #525252;
    background-color: var(--section--dark-bg);
  }

  .c-section--testimony {
    position: relative;
  }

  .c-section--testimony .c-section__img {
    position: absolute;
    top: rem(102); // 102px
    left: 50%;
    margin-left: rem(-22); // 22px
    width: rem(44); // 44px
    height: rem(36); // 36px
    color: #02baab;
    color: var(--section--testimony__img-txt);
  }
}
